.card-title-tariffs {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    align-content: center;
}

.tariffsId {
    width: 400px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    padding-bottom: 20px
}

.card-text-title {
    font-weight: bold
}

.mainDivTar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: stretch;
}

.card-body {

    padding-top: 15px;
}

#bothbuttons {
    display: flex;
    justify-content: space-between;
}

#headercolor {
    background-color: rgb(253, 205, 71);
    border-bottom: solid;
}

#tableprice {
    max-width: 1400px;
    border: ridge;
}

#divfortable {
    display: flex;
    justify-content: space-around;
}

#tigerimg {
    display: flex;
    justify-content: space-around;
}

th,
td {
    font-size: 20px;
}

.form-control {
    background-color: rgb(228, 227, 227);
}

.quantity_item_adult{
    width: 25px;
    border-radius: 10px;
    text-align:center;
}

.quantity_item_kid{
    width: 25px;
    border-radius: 10px;
    text-align:center;
}

.quantity_item_elder{
    width: 25px;
    border-radius: 10px;
    text-align:center;
}

.email{
    width: 200px;
    margin-left: 30px;
    border-radius: 7px;
}

.emailinput{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
} 

.plus-btn{
    margin: 10px;
    border-radius: 40px
}

.minus-btn{
    margin: 10px;
    width: 27px;
    border-radius: 40px
}

#buybutton{
    margin-left: 30px;
}

#topay{
    width: 240px;
}